.container{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    min-height: 500px;
}
.w-10
{
    width:10%!important
}
.p-10
{
    padding: 50px;
}
.mr-10
{
    margin-right: 10px;
}
#detail-pd
{
    height: 500px;
}
.row{
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
    display:flex;
    flex-wrap:wrap;
    margin-top:calc(-1 * var(--bs-gutter-y));
    margin-right:calc(-.5 * var(--bs-gutter-x));
    margin-left:calc(-.5 * var(--bs-gutter-x))
}
.col-3
{
    flex:0 0 auto;
    width:30%
}
.pic-size
{
    width: 16rem;
    height: 16rem;
}
.detail-pd-pic{
float: left;
text-align: center;
padding-top: 10px;
}

.detail-pd-info{
    width: 35rem;
    float: right;
    text-align: left;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.small-pic-detail
{
    opacity: 0.5;
}
.small-pic-detail:hover
{
    opacity: 1;
    cursor: pointer;
    border: 1px solid gray;
    transform: scale(1.5);
}
/* .pd-name{
    color: #666;
} */
.pd-size{
    border: 2px solid #ececec;
    border-radius: 10px;
    text-align: center ;
    padding :10px,10px;
    width:3rem;
    height: 2rem;
    
}
.pd-size:hover{
    border-color: #666;
}
.themvaogiohang{
    background-color: #666666a0;
    border-radius: 25px;
    text-align: center ;
    padding :10px,10px;
    width:10rem;
    height: 3rem;
}
.muangay{
    background-color: #8ed1fc;
    border-radius: 25px;
    text-align: center ;
    padding :10px,10px;
    width:7rem;
    height: 3rem;
}
.muangay:hover{
    background-color: #66afdc;
}
