body
{
    font-family: 'Courier New', Courier, monospace;
}
#header {
    display: flex;
    justify-content: center;
    height: 110px;
    background-color: aliceblue;
}
#container-text{
    margin-left: 261px;
}
#set-address-text-pick{
    margin-left: 864px;
}
.level1
{
    display: block;
    position: relative;
    float: left;
    line-height: 5rem;
    background-color: transparent;
    padding:0rem;
    margin: 0 auto;
}
.level1 a{
    margin: 2rem;
    text-decoration: none;
    color: grey;

}
.level1:hover>ul
{
    display: block;
    position: absolute;
}
li:hover
{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0rem;
}
