/* trang chủ dép */
nav {
    float: left;
    width: 450px;
    height: 100%; /* only for demonstration, should be removed */
    background: whitesmoke ;
    padding: 20px;
  }
  
  .boxsp{
    padding-top: 100px;
  }
  .Size_Clothing {
    width: 100%;
    overflow: hidden;
}

.prdctfltr_checkboxes {
    display: flex;
    flex-wrap: wrap;
}

.prdctfltr_checkboxes > div {
    flex-basis: 50%;
}

.prdctfltr_checkboxes label {
    display: block;
    margin-bottom: 10px;
}

.prdctfltr_checkboxes input[type="checkbox"] {
    margin-right: 5px;
    
}
i.fa-regular.fa-square-check:hover{
    color: red;
}
    