/* trang chủ dép */

nav {
    float: left;
    width: 15rem;
    height: 830px; /* only for demonstration, should be removed */
    background: whitesmoke ;
    padding: 20px;
  }
  
  .boxsp{
    padding-top: 100px;
    margin: 0 auto;
  }
  .Size_Clothing {
    width: 100%;
    overflow: hidden;
    height: 10rem;
    overflow-y: auto;
    margin-bottom: 2rem;
}
.brand{
    width: 100%;
    overflow: hidden;
    height: 10rem;
    overflow-y: auto;
    margin-bottom: 2rem;
}

.line
{
    margin-top: -10px;
    content: "";
    display: block;
    width: 10rem;
    height: 4px;
    background: gray;
    border-radius: 5px;
    /* right: 0;
    top: 10%; */
    /* position: absolute; */
}

/* slider */
.slider-container {
    width: 12rem;
    margin-left: 5px;
  }
  
  .form-range {
    width: 100%;
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
  }
  
  .form-range::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #5408aa;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .form-range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color: #1c0653;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .form-range::-webkit-slider-thumb:hover,
  .form-range::-moz-range-thumb:hover {
    background-color: #0919c1;
  }
  
  
/* slider */
.prdctfltr_checkboxes {
    display: flex;
    flex-wrap: wrap;
}

.prdctfltr_checkboxes > div {
    flex-basis: 50%;
}

.prdctfltr_checkboxes label {
    display: block;
    margin-bottom: 10px;
}

.prdctfltr_checkboxes input[type="checkbox"] {
    margin-right: 5px;
    
}

i.fa-regular.fa-square-check:hover{
    color: red;
}


  .price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #17a2b8;
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }

  
